*~
template/*.pdf
template/*.aux
template/*.log
template/*.toc
template/*.synctex.gz
Versuch*/protokoll/*.aux
Versuch*/protokoll/*.log
Versuch*/protokoll/*.toc
Versuch*/protokoll/*.synctex.gz
Versuch*/protokoll/*.out
Versuch*/*.aux
Versuch*/*.log
Versuch*/*.toc
Versuch*/*.synctex.gz
Versuch*/*.out
